<div id="<%= dom_id micropost_detail %>">
  <p>
    <strong>Content:</strong>
    <%= micropost_detail.content %>
  </p>

  <p>
    <strong>Micropost:</strong>
    <%= micropost_detail.micropost_id %>
  </p>

</div>
