<h1>Editing micropost detail</h1>

<%= render "form", micropost_detail: @micropost_detail %>

<br>

<div>
  <%= link_to "Show this micropost detail", @micropost_detail %> |
  <%= link_to "Back to micropost details", micropost_details_path %>
</div>
