<div id="<%= dom_id user_detail %>">
  <p>
    <strong>Memo:</strong>
    <%= user_detail.memo %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_detail.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_detail.user_id %>
  </p>

</div>
